<div class="row">
  <div class="col-sm-11">
    <select #category id="categorySelect" (change)="onChangeCategory(category.value)">
      <option disabled selected>Select category</option>
      <option [value]="category" *ngFor="let category of categoryNames">
        {{category}}
      </option>
    </select>
    <select #subCategory id="subCategorySelect" *ngIf="subCategoryNames.length > 0"
      (change)="onChangeSubCategory(subCategory.value)">
      <option disabled selected>Select sub-category</option>
      <option [value]="subCategory" *ngFor="let subCategory of subCategoryNames">
        {{subCategory}}
      </option>
    </select>
    <select #selectedDifficulty id="difficultySelect" (change)="onChangeDifficulty(selectedDifficulty.value)">
      <option disabled selected>Select difficulty</option>
      <option>Easy</option>
      <option>Medium</option>
      <option>Hard</option>
    </select>
    <button class="primary" id="createBtn" (click)="createQuiz()" [disabled]="!id || !difficulty">Create</button>
  </div>

</div>
<div class="row">
  <app-quiz [questions]="questions$ | async"></app-quiz>
</div>