<div class="row">
  <div class="col-sm-11">
    <app-generic-search [placeholder]="'Select category'" [items]="categoryNames"
      (valueChange)="onChangeCategory($event)" />
    <app-generic-search [placeholder]="'Select sub-category'" [items]="subCategoryNames"
      (valueChange)="onChangeSubCategory($event)" *ngIf="subCategoryNames.length > 0" />
    <select #selectedDifficulty id="difficultySelect" (change)="onChangeDifficulty(selectedDifficulty.value)">
      <option disabled selected>Select difficulty</option>
      <option>Easy</option>
      <option>Medium</option>
      <option>Hard</option>
    </select>
    <button class="primary" id="createBtn" (click)="createQuiz()" [disabled]="!id || !difficulty">Create</button>
  </div>

</div>
<app-question *ngFor="let q of questions$ | async; index as i" [question]="q" (change)="userAnswers[i] = $event">
  <button (click)="swapQuestion(i)" class="inverse" *ngIf="canSwapQuestions">
    Change question
  </button>
</app-question>
<div>
  <button class="inverse large" *ngIf="allQuestionsAnswered()" (click)="submit()">
    Submit
  </button>
</div>